*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.container{
    width: 80%;
    margin: 0 auto;
}
body{   
    margin: 0 auto;
}
/* inizio header */
#logo{
    line-height: 80px; 
    vertical-align: middle;
    margin: 10px;
}

.logotipo{
    font-size: 40px;
    font-weight: 700;
    vertical-align: middle;
}

/* fine header */

/* inizio main */

.main{
    background-color: whitesmoke;
    height: 800px;
    width: 80%;
    margin: 0px auto;
    padding-top: 50px;
}

.sfondo{
    height: 98%;
    background-color: white;
    width: 75%;
    margin: 0 auto;
}

.container-main{
    border-bottom: 1px solid lightgray;
    height: 50px;
}


.bottoni{
    width: 90%;
    margin: 0 auto;
}

.addtask{
    background-color: cornflowerblue;
    border-radius: 3px;
    padding: 5px;
    margin-right: 10px;
    line-height: 50px;
    color: white;
}

.addsection{
    border-radius: 3px;
    border: 1px lightgrey solid;
    padding: 5px;
    color: lightgrey;
}

.liste{
    width: 90%;
    margin: 0 auto;
    
}

.simbolo{
    height: 1px;
    width: 2px;
}

.titolo{
    font-size: 20px;
    font-weight: 900;
    margin-top: 60px;
    
}

.info{
    margin-top: 10px;
}

.icon{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: inline-block;
    border: 1px solid #65c0a9;
    text-align: center;
    margin-right: 10px;
    color: #75c9b6;
}

.red{
    color: #eb5851;
    border: 1px solid #eb5851;
}

.centrale{
    display: inline-block;
    font-size: 20px;
}

.categoria{
    display: inline-block;
    border-radius: 8px;
    padding: 5px;
    margin-right: 10px;
    margin-left: 15px;
    color: white;
}

.edit{
    background-color: #45abea;
}

.goals{
        background-color: #9c72e4;
}

.recruting{
    background-color: #64c0a9;
}

.mobile{
    background-color: #45abea;
}

.website{
    background-color:#d863a1;
}

.sales{
    background-color: #b0c926;
}

.editorial{
    background-color: #45abea;
}

/* fine main */
