*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
}
body{   
    margin: 0 auto;
}
/* inizio header */
#logo{
    line-height: 80px; 
    vertical-align: middle;
    margin: 10px;
}

.logotipo{
    font-size: 40px;
    font-weight: 700;
    vertical-align: middle;
}

/* fine header */

/* inizio main */

.main{
    background-color: whitesmoke;
    height: 800px;
    width: 80%;
    margin: 0px auto;
    padding-top: 50px;
}

.sfondo{
    height: 98%;
    background-color: white;
    width: 75%;
    margin: 0 auto;
}

/* fine main */
